body{
    font-family:serif;
    background-color: #b48e8d;
}

.w-100{
    width: 100%;
    height: 420px;
}
.carousel-caption {
    text-align: center;
  }
  
  .carousel-caption h5 {
    font-size: 2.5rem;
    font-weight: bold;
    color:black;
    
  }
  
  .carousel-caption p {
    font-size: 1.5rem;
    color: black;
  }
  .carousel-inner{
    margin-bottom: 5%;
  }
  .headings{
    text-align: center;
    font-weight: lighter;
    color: #4b2e2d;
    margin-bottom: 10px;
    font-style: italic;
}
  /* products */

  .product-card {
    text-align: center;
    margin: 20px 0;
}
.product-card img {
    width: 100%;
    height: auto;
}
.add-btn {
    background-color: #4b2e2d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.carousel-item1 {
    display: flex;
    justify-content: center;
}
.col-md-8{
    margin-top: 1.2%;
}

.headings1{
    text-align: center;
    font-weight: lighter;
    color: #4b2e2d;
    margin-bottom: 10px;
    font-style: italic;
     margin-top: 60px;
    
  }
  .container2 img{
    height: 60%;
  }
/* about us */
.contain{
    margin-bottom:0%;
    height: 80%;
}
.about1{
    margin-top: 10px;
}
.bts{
    background-color: #4b2e2d;
}
/* footer */
.footer{
    background-color: #4b2e2d;
    color:white;
    margin-top: 1px;
}
