body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
    background-color:rosybrown;   
}
.recipe-card {
    width: 7in;
    height: 5.4in;
    padding: 20px;
    box-sizing: border-box;
    border: 10px solid gray;
    background-color: #fff;
    position: relative;
    margin: 20px auto;
}
.header {
    text-align: left;
    margin-bottom: 10px;
}
.header h1 {
    margin: 0;
    font-size: 1.5em;
}
.header i {
    margin: 4px;
    font-size: 0.9em;
    color:rgb(20, 20, 20);
    font-family:Arial, Helvetica, sans-serif;
}
.content {
    display: flex;
    justify-content: space-between;

}
.ingredients {
    width: 30%;
}
.ingredients h2, .directions h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.ingredients ul, .directions ol {
    margin: 0;
    padding-left: 20px;
}
 .directions li {
    font-size: 0.9em;
    margin-bottom: 10px;
}
.directions{
    width: 60%
    
    
}
.corner-image{
width: 150px;
height: 70px;
position: absolute;


}
.top{
    top: 0;
    right: 0;
    margin-top: 8px;
    margin-right: 12px;
}
.bottom{
    bottom: 0;
    left: 0;
    margin-bottom: 12px;
    margin-left: 8px;

}

